[Unit]
Description=Run updater for @@tun_device@@ every 30 minutes

[Timer]
OnCalendar=*:0/30
OnBootSec=5min
RandomizedDelaySec=7m
Persistent=true

[Install]
WantedBy=timers.target
