[Unit]
Description=Run updater for @@tun_device@@ every 30 minutes
Requires=@@tun_device@@-update.service

[Timer]
# Primary: 30 minutes after last successful completion
OnUnitActiveSec=30min
RandomizedDelaySec=2m
# Also run 5 minutes after boot
OnBootSec=5min
# Don't run multiple instances concurrently
Persistent=true

[Install]
WantedBy=timers.target
