<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>nebula_@@tun_device@@-update</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>/usr/local/lib/nebula/@@tun_device@@/update.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>900</integer>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/nebula_@@tun_device@@-update.log</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/nebula_@@tun_device@@-update.log</string>
</dict>
</plist>