[Unit]
Description=Auto-update for @@tun_device@@
After=nebula_@@tun_device@@.service network-online.target
After=network-online.target
Wants=network-online.target
ConditionPathExists=/etc/nebula/@@tun_device@@/node

[Service]
Type=oneshot
ExecStart=/usr/lib/nebula/@@tun_device@@-update.sh
TimeoutStartSec=600
TimeoutStopSec=30
User=root
StandardOutput=journal
StandardError=journal
SuccessExitStatus=0 1

[Install]
WantedBy=multi-user.target
